[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "vim/bundle/better-css-syntax"]
	path = vim/bundle/better-css-syntax
	url = https://github.com/ChrisYip/Better-CSS-Syntax-for-Vim
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "git-prompt"]
	path = git-prompt
	url = git://github.com/lvv/git-prompt.git
